# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/lnd
/lnd-debug
/lncli
/lncli-debug
/lnd-itest
/lncli-itest

# Integration test log files
lntest/itest/output*.log
lntest/itest/pprof*.log
lntest/itest/.backendlogs
lntest/itest/.minerlogs

cmd/cmd
*.key
*.hex

cmd/lncli/lncli

# vim
*.swp

*.hex
*.db
*.bin

vendor
*.idea
*.iml
profile.cov
profile.tmp

.DS_Store

.vscode
