# ---> Go
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/lnd
/lnd-debug
/lncli
/lncli-debug
/lnd-itest
/lncli-itest

# Integration test log files
itest/*.log
itest/.backendlogs
itest/.minerlogs
itest/lnd-itest
itest/btcd-itest
itest/.logs-*

cmd/cmd
*.key
*.hex

cmd/lncli/lncli

# Files from mobile build.
mobile/build
mobile/*_generated.go

# vim
*.swp

*.hex
*.db
*.bin

vendor
*.idea
*.iml
profile.cov
profile.tmp

.DS_Store

.vscode

# Coverage test
coverage.txt

# Visual Studio cache/options directory
.vs/

# Release build directory (to avoid build.vcs.modified Golang build tag to be
# set to true by having untracked files in the working directory).
/lnd-*/
