<% slevel = @level.zero? && @special ? 1 : @level %>
<% puts("#{slevel} #{title}")%>
<% if slevel == 2 %>
<slide class="row-fluid">
  <div class="col-sm-12">
    <h3><%=title %></h3>
    <br/>
    <div>
      <%= content %>
	</div>
  </div>
</slide>
<% else %>
   <h4><%=title %></h4>
   <%= content %>
<% end %>